body {
  background-color:#fad6d6;
  color: #0c093c;
}

.main {
  max-width: 650px;
  border: 0;
  margin: auto;
  background-color: #eea5f6;
}

a {
  color: #df42d1;
  text-decoration: underline;
}

h1, h2, h3, h4 {
  font-family: "Lato Heavy", sans-serif;
  font-size: 19px;
  font-weight: bold;
}

p {
  font-family: Lato, sans-serif;
  font-size: 13px;

}